.show-data {
  margin-left: var(--margin-left);
}
.containerclass {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  margin: 20px;
  max-width: 550px;
  padding: 16px;
  background-color: rgb(226, 240, 240);
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteIcon {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: white;
  position: absolute;
  right: 0;
  top: -5px;
}
.editIcon {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 19px;
}
